$main-color: rgb(175, 111, 174);
$secondary-color: rgb(231, 185, 229);

$black: rgb(15, 15, 15);
$orange: rgb(245, 170, 59);
$red: rgb(199, 36, 0);
$green: rgb(0, 171, 2);
$purple-white: rgb(230, 211, 227);
